<html>
    <head>
        <title>Search</title>
    </head>
    <body>

        <div class="container">
            <div class="row is-mobile is-multiline">
                <div class="field is-horizontal">
                    <div class="column is-half-mobile">
                        <form action="/qpon/search" method="POST">
                            <div class="field">
                                <label class="label">Region</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="region">
                                            <option value="">Not Specified</option>
                                            <option class="Kowloon" value="Kowloon">Kowloon</option>
                                            <option class="HKIsland" value="HKIsland">HK Island</option>
                                            <option class="NT"value="NT">NT</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Min Coin</label>
                                <div class="control">
                                    <input class="input" type="String" name="mincoin">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Man Coin</label>
                                <div class="control">
                                    <input class="input" type="String" name="maxcoin">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Valid Date</label>
                                <div class="control">
                                    <input class="input" type="date" name="validdate">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-link" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <nav class="pagination" role="navigation" aria-label="pagination">
                <a class="pagination-previous" id="previousButton">Previous</a>
                <a class="pagination-next" id="nextButton">Next page</a>
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link" id="firstLink">1</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" id="previousLink">45</a>
                    </li>
                    <li>
                        <a class="pagination-link is-current" id="currentLink">46</a>
                    </li>
                    <li>
                        <a class="pagination-link" id="nextLink">47</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" id="lastLink">86</a>
                    </li>
                </ul>
            </nav>







        </div>







        


    </body>
</html>

<script>

    function setPagination(limit,offset) {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var firstLink = document.getElementById("firstLink");
        var lastLink = document.getElementById("lastLink");

        var numOfRecords = parseInt("<%= Records %>");
        var limit = Math.max(parseInt("<%= req.query.limit %>"), 2) || 2;
        var offset = Math.max(parseInt("<%= req.query.offset %>"), 0) || 0;
        var vdate = "<%= req.query.validdate %>";
        var vregion = "<%= req.query.region %>";
        var baseUrl = "/qpon/search?region="+ vregion + "&validdate=" + vdate + "&limit=" + limit + "&offset=";

        //firstLink.href = baseUrl + 0;
        //previousButton.href = baseUrl + (offset - limit);
        //previousLink.href = baseUrl + (offset - limit);
        //currentLink.href = baseUrl + offset;
        //nextLink.href = baseUrl + (offset + limit);
        //nextButton.href = baseUrl + (offset + limit);
        //lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;
              
        firstLink.onclick = function () { fetchPage(limit,0) };
        previousButton.onclick = function () { fetchPage(limit,offset - limit) };
        previousLink.onclick = function () { fetchPage(limit,offset - limit) };
        currentLink.onclick = function () { fetchPage(limit,offset) };
        nextLink.onclick = function () { fetchPage(limit,offset + limit) };
        nextButton.onclick = function () { fetchPage(limit,offset + limit) };
        lastLink.onclick = function () { fetchPage(limit,(Math.ceil(numOfRecords / limit) - 1) * limit) };


        var currentPageNumber = Math.floor(offset / limit) + 1;

        previousLink.innerHTML = currentPageNumber - 1;
        currentLink.innerHTML = currentPageNumber;
        nextLink.innerHTML = currentPageNumber + 1;
        lastLink.innerHTML = Math.ceil(numOfRecords / limit); 

        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            previousButton.href = "";
            previousLink.style.display = "none";
        }

        if (offset + limit >= numOfRecords) {
            nextButton.setAttribute("disabled", true);
            nextButton.href = "";
            nextLink.style.display = "none";
        }
    }

</script>

<script>
    async function fetchPage(limit,offset){
        var response = await fetch("/qpon/aginate?limit=" + limit + "&offset=" + offset);
        if(response.ok){
            var qpons = await response.json();
            var dynamicCode = '<table class="table is-bordered is-striped is-hoverable is-fullwidth">;';

            qpons.forEach(function(qpon){
                dynamicCode += '<div class="box" style=" width: 300px; height: 400px;">';
                    dynamicCode += '<img src="qpon.image" width="300" height="300">'
                    dynamicCode += '<div>'
                    dynamicCode += '<a class="hyperlink" href="http://localhost:1337/qpon/read/"' + qpon.id + "><strong style="font-size: x-large;"><%= qpon.restaurant %></strong></a>'
                    dynamicCode += '<p>' + qpon.title + '</p>'
                    dynamicCode += '<br>'
                    dynamicCode += '<p>Coins: qpon.coin</p>'
                    dynamicCode += '</div>'
                    dynamicCode += '</div>'
            });

            document.querySelector("#p2").innerHTML = dynamicCode;
            setPagination(limit,offset);
        }else{
            alert(response.status + ": " + response.statusText);
        }
    }

    fetchPage(2,0);
</script>