<html>
    <head>
        <title>Read</title>
    </head>

    <body>
        <br>
        <br>
        <br>
    <div class="container">
        <div class="row is-mobile">
                <div>
                    <img style="width:128px;height:128px;"  src="<%= qpon.image %>"/>
                </div>
                <ul>
                    <li><strong><%= qpon.restaurant %></strong></li>
                    <li><strong><%= qpon.detail %></strong></li>
                    <li><strong>Coins: <%= qpon.coins %></strong></li>
                    <li><strong>Address: <%= qpon.mall %>, <%= qpon.region %></strong></li>
                    <li><strong>Expiry Date: <%= qpon.date %></strong></li>
                </ul>
        </div>
    </div>
    </body>
</html>