<html>

<head>
    <title>Read</title>
</head>

<body>
    <div class="container">
        <div class="row is-mobile is-multiline">
            <div class="field is-horizontal">
                <div class="column is-two-third">
                    <img style="width:720px;height:720px;" src="<%= qpon.image %>" />
                </div>
                <div class="column is-one-third">
                    <ul style="list-style: initial;">
                        <li><strong><%= qpon.restaurant %></strong></li>
                        <li><strong><%= qpon.detail %></strong></li>
                        <li><strong>Coins: <%= qpon.coins %></strong></li>
                        <li><strong>Address: <%= qpon.mall %>, <%= qpon.region %></strong></li>
                        <li><strong>Expiry Date: <%= qpon.date %></strong></li>
                    </ul>
                    <br>
                    <div class="field">
                        <div class="control">
                            <button type="button" class="button is-link" onclick="redeem('<%= qpon.id %>')">Redeem</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    async function redeem(id) {
    var r = confirm("Confirm Redeem?");
            
    if (r) {
        var response = await fetch("/qpon/read/" + id, {
        method: "POST",
    });
    
    if (response.ok) {
        //var html = await response.text();
        //alert(html);

        alert("Qpon redeemed.");
        location.assign("/qpon/homepage");
    } else {
        alert(response.status + ": " + response.statusText);
    }
    
    } else {
        alert("cancelled");
    }
};
</script>